.export-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #00786F;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: #00786F; // Màu hover nhạt hơn một chút
    }

    &:active {
        background-color: #00786F; // Màu khi nhấn xuống
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    select {
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
}
